@import './color.scss';

form {

	input {
		color: gray;
		background-color: #fff;
		padding: 12px 16px;
		font-size: 21px;
		border-radius: 8px;
		border: solid 2px $accent-color;
		margin-right: 20px;
		margin: 48px 0;
		margin-right: 20px;
	}

	button {
		display: flex;
		align-items: center;
		margin: 0 auto;
		background-color: $accent-color;
		border: 0;
		padding: 12px 18px;
		border-radius: 8px;
		color: white;
		font-size: 1.5rem;
		font-weight: 200;
		line-height: 29.4px;
		gap: 10px;
		cursor: pointer;

		&:hover {
			box-shadow: $box-shadow1;
			transition: .3s ease;
		}
	}
}