@media screen and (max-width:767px) {

	.container {
		width: 90%;

		header {
			padding: 30px 0;

			.logo {
				flex-wrap: wrap;
				gap: 6px;

				span {
					text-wrap: nowrap;
					font-size: 12px;
				}
			}

			nav {
				display: none;
			}
		}

		.phone-contact {
			align-items: start;

			img {
				margin: 0;
			}

			.contact-link {
				display: none;

			}
		}
	}

	.greting {
		.greting-title {
			margin: 0;
			margin-top: 185px;
		}

		.span-violet,
		.white-span {
			font-size: 1.5rem;
		}

		.white-span {
			background: #E9EAF9;
			max-width: 250px;
		}
	}

	.greting::after {
		top: 110px;
		left: 0;
		height: 243px;
		background-image: url(../images/greting/mobile-back.png);
	}

	.slogan {
		padding: 30px 0;
	}

	.laboratory {
		flex-wrap: wrap;

		.content-image {
			display: flex;
			justify-content: center;

			img {
				margin: 0 auto;
			}
		}

		&::after {
			left: -20px;
			order: 1;
		}

		.content-title {
			display: flexbox;
			order: 2;

			h1 {
				font-size: 28px;
			}

			p {
				font-size: 18px;
			}
		}
	}

	.gallery {

		h1 {
			font-size: 28px;
		}

		.grid-content {
			grid-template-columns: 1fr;

			.span {
				grid-column: span 1;
			}

			.rows {
				grid-row: span 2;
			}
		}

		.gallery-content {
			display: none;
		}
	}

	.application {
		margin: 30px 0;
		padding: 30px 10px;
		text-align: left;

		h1 {
			font-size: 28px;
			text-wrap: wrap;
			width: 80%;
			display: flex;
		}

		p {
			font-size: 18px;
		}
	}

	.form {
		input {
			margin: 10px 0;
		}

		button {
			margin-top: 35px;
		}
	}

	footer {
		flex-wrap: wrap;
		padding: 25px 30px;
		justify-content: center;

		.logo {
			order: 1;
		}

		span {
			text-align: center;
			margin-top: 20px;
			order: 2;
		}
	}

	.modal {
		width: 100%;
	}

	.modal-title {
		flex-direction: column-reverse;
		box-shadow: 0;
		img{
			order: 1;
		}
		p{
			width: 90%;
			text-align: center;
		}
	}

}