@import './color.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
}

a {
	color: black;
}

body {
	width: 100%;
	font-size: 16px;
	color: $text-color;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
	background: $background;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.container {
	width: 80%;
	margin: 0 auto;
}

::-webkit-scrollbar {
	width: 10px;
	height: 30px;
}

::-webkit-scrollbar-track {
	background: inherit;
}

::-webkit-scrollbar-thumb {
	background-color: $accent-color;
	border-radius: 5px;
}